DJANGO_SETTINGS_MODULE=distributor.settings
DB_ENGINE=django.db.backends.postgresql
DB_NAME=distributor_db
DB_USER=distributor
DB_PASSWORD=changeme
DB_HOST=db
DB_PORT=5432
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=123456
SECRET_KEY=changeme
ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_DEBUG=True
LETSENCRYPT_EMAIL=ops@example.com
DOMAIN=domain.com
