DJANGO_SETTINGS_MODULE=distributor.settings
# DB_ENGINE=django.db.backends.postgresql #this must be removed in latest versions from v1.0.3
DB_NAME=distributor_db
DB_USER=distributor
DB_PASSWORD=changeme
DB_HOST=db
DB_PORT=5432
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@gmail.com
DJANGO_SUPERUSER_PASSWORD=123456
SECRET_KEY=changeme
ALLOWED_HOSTS=127.0.0.1,localhost,example.com
DJANGO_DEBUG=True
AGENT_HOST=0.0.0.0
AGENT_KEY=changeme
AGENT_PORT=6001
POSTGRES_DB=distributor_db
POSTGRES_USER=distributor
POSTGRES_PASSWORD=changeme
LETSENCRYPT_EMAIL=ops@example.com
DOMAIN=domain

DRY_RUN=False
DRY_WEB_PORT=9560