server {
    listen 443 ssl;
    server_name ${DOMAIN};

    ssl_certificate     /etc/letsencrypt/live/${DOMAIN}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${DOMAIN}/privkey.pem;

    location /static/ {
        alias /app/staticfiles/;
    }

    location /media/ {
        alias /app/media/;
    }
        if (-f /deployment/processing/.maintaining) {
        return 503;
    }

    error_page 503 @maintenance;

    location @maintenance {
        root /var/www/maintenance;
        try_files /maintenance.html =503;
    }

    # --- Static access to manual maintenance or processing pages ---
    location /maintenance.html {
        root /var/www/maintenance;
    }

    location /processing.html {
        root /var/www/maintenance;
    }

    location /processing-status.json {
        root /deployment/processing;
        add_header Cache-Control "no-cache";
    }

    location / {
        proxy_pass http://web:8000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}